* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  height: 350px;
  background: #fff;
  padding: 0.5rem;
  border-radius: 20px;
  margin-bottom: 15px;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.alert-style {
  border: 1px solid black;
  font-size: 1.1rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.form-todo {
  margin-bottom: 30px;
}

.todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-checkbox {
  margin-right: 15px;
}

.todo-time {
  font-size: 0.8rem;
  color: #6c757d9c;
  font-style: italic;
}

/*
done - #28a745
dell - #dc3545
add - #17a2b8
*/
